
 .css-763e6y.css-pp2ows1 {
    padding-top: 0px !important;
}

/* .pro-desc .item-title {
    min-height: 46px !important;
    max-height: 47px !important;
    overflow-y: auto !important;
 }
 .css-115rlhy{
     background:#e70000 !important;
 }

 .css-1ylpwy7 .rheostat-progress {
    background-color: #999 !important;
 }    */

 .ListView1 .pro-box .pro-desc .item-price {
    background: transparent !important;
    color: #000 !important;
}

.css-1qsf8qg + label::after {
    border-color: #555 !important; 
}   

 /* .ListView1 .pro-box {
    margin-right: -22px;
    margin-left: -10px;
}  */

/*--------------- List view ------------ */ 

@media (min-width: 1200px) {
    .ListView1 .pro-box {
        margin-right: -22px !important;
        margin-left: -10px !important;
    }
    
   }

/*--------- No Result found ------------- */     
/* svg.svg-inline--fa.fa-search.fa-w-16.fa-fw.search_icon.trigger{
    z-index: 9;
    display: block;
    position: absolute; 
    float: left;
    font-size: small;
    margin-top: 12px;
    margin-left: 4px;
}

input#input-text {
    padding-left: 20px;
}

svg.svg-inline--fa.fa-search.fa-w-16.fa-fw.search_icon.top_search {
    font-size: 60px;
    float : none;
} */
/* -------------------------------------- */ 