<style>
    .row {
        display: inline-block !important;
    }
    .scroll-block {
        overflow-x: auto;
    }
    .ob-product-compare .compare-block > tbody > tr > td {
        min-width: 200px;
    }
    .ob-product-compare .compare-block > tbody > tr:first-child > td {
        padding: 20px 20px 0;
    }
</style>


<div id="myCompareList" class="container">
    <div class="innerpage">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xs-12">
                <h1 class="main-title"><i class="fa fa-retweet fa-fw"></i>Product Compare</h1>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xs-12">
                <div class="product-compare-top-navi js-compare-btns">
                    <a class="add-btn gray js-btn-delete-all-compare-product" href="javascript:void(0)">
                        <i class="fa fa-times-circle fa-fw"></i>Clear All
                    </a>
                    <a class="add-btn gray js_open_modal_email_to_friend" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-envelope fa-fw"></i>Email to friend
                    </a>
                    <a class="add-btn gray js_open_modal_print" href="javascript:void(0);"
                    onclick="printDiv()">
                        <i class="fa fa-print fa-fw"></i>Print
                    </a>
                    <a class="add-btn gray js-btn-download-compare-product" href="javascript:void(0)">
                        <i class="fa fa-file-pdf-o fa-fw"></i>Download PDF
                    </a>
                    <a href="search.html" class="continue-shopping-btn">Continue Shopping<i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <reusecomponent class="c93217">{{> Compare id='list.partial' }}</reusecomponent>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <reusecomponent class="c21409">{{> Compare id='downloadPDF.partial' }}</reusecomponent>
</div>

<div id="modal-table" data-keyboard="false" data-backdrop="static" tabindex="-1"
aria-hidden="false" class="modal fade model-popup-black print-comparision in c18475">
    <div id="print-comparision">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"><a aria-label="Close" data-dismiss="modal" href="javascript:void(0)" class="close">×</a>
                <div
                class="modal-header"><i class="fa fa-print"></i>Title</div>
            <div class="modal-body">
                <div class="ob-product-compare">
                    <div class="scroll-block">
                        <table cellspacing="0" cellpadding="10" width="100%" border="0" class="compare-block js-print-html">
                            <tbody>
                                <tr id="js-print_item_title" class="dark-bg">
                                    <td>
                                        <div class="pro-img">
                                            <div class="img-block" style="min-height:120px">
                                                <img width="100px;" src="#data.image#" alt="#data.title#" title="#data.title#" class="img-responsive center-block lazyLoad"
                                                />
                                            </div>
                                        </div>
                                        <div class="product-name" style="min-height:70px;text-align:center;">#data.title#</div>
                                    </td>
                                </tr>
                                <tr id="js-print_item_price" class="feature dark-bg pro-title">
                                    <td class="price-rang-brd">
                                        <div class="product-price" style="text-align:center">
                                            <i><i class="priceProd">#data.price#</i></i>
                                            <span style="display:inline-block;vertical-align:top;margin-left:8px">Qty #data.min_qty#</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="js-print_item_sku" class="feature light-bg">
                                    <td style="text-align:center">#data.sku#</td>
                                </tr>
                                <tr id="js-print_item_features" class="feature dark-bg">
                                    <td style="text-align:justify">#data.features#
                                        <br/>
                                    </td>
                                </tr>
                                <tr id="js-print_item_summary" class="feature summary light-bg">
                                    <td style="text-align:justify">#data.summary#</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="myModal" role="dialog" class="modal fade model-popup-black">
    <div class="modal-dialog">
        <div class="modal-content"><a aria-label="Close" data-dismiss="modal" href="javascript:void(0);"
            class="close">×</a>
            <div class="modal-header">
                <h1 class="modal-title"><i class="fa fa-envelope fa-fw"></i> Email to friend</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="send_email_to_friend" method="post" id="send_email_to_friend">
                            <div class="form-group col-sm-12">
                                <label for="name">Sender name</label><span title="This field is required" class="red">*</span>
                                <input
                                type="text" id="name" name="name" placeholder="Enter Sender Name" title="Enter Sender Name"
                                data-placement="" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email">Sender Email</label><span title="This field is required" class="red">*</span>
                                <input
                                type="text" id="email" name="email" placeholder="Enter From Email" title="Enter From Email"
                                data-placement="" class="form-control form-contol-tool-tip" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="to_email">Recipient Email</label><span title="This field is required" class="red">*</span>
                                <small
                                class="form-note">(Use Comma [,] for multiple email.)</small>
                                    <input type="text" id="to_email"
                                    name="to_email" placeholder="Enter Recipient Email" title="Enter Recipient Email"
                                    data-placement="" class="form-control form-control-tool-tip" />
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="send_email_to_friend_message">Message</label><span title="This field is required" class="red">*</span>
                                <textarea
                                id="message" name="message" placeholder="Enter Message" title="Enter Message"
                                data-placement="" class="form-control form-control-tool-tip"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 center-block text-center">
                                    <div class="btn-box-main">
                                        <input type="submit" value="Send Email" class="btn btn-default js-submit-btn send-friend-email"
                                        />
                                        <input type="reset" value="reset" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>