<style>
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
        }
        
        :root {
            margin-top: 0px;
        }
        
        :root {
            margin-top: 0px;
        }
        
        .clearfix {
            clear: both;
        }
        
        .gjs-am-file-uploader > form {
            min-height: 325px !important;
        }
        
        * {
            box-sizing: border-box;
        }
        
        body {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }
        
        #product_detail_product-description-tab-block {
            height: auto;
        }
        
        #ivmhc {
            height: auto;
        }
        
        .c11521 {
            display: block;
            width: 100%;
            min-height: 20px;
        }
        </style>
        
        
        
        <div id="preloader"></div>
        <div class="container main js-hide-div">
            <div class="innerpage ob-product-detail-page">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right fa-fw"></i>
                        </li>
                        <li><strong>#data.title#</strong>
                        </li>
                    </ul>
                </div>
                <div class="product-showcase row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ob-product-detail-left">
                        <reusecomponent class="c22805">{{> productDetail id='productDetailLeft.partial' }}</reusecomponent>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ob-product-detail-right">
                        <reusecomponent class="c313421">{{> productDetail id='titleSku.partial' }}</reusecomponent>
                        <div class="short-description-no-box"><reusecomponent class="c11521">{{> productDetail id='topSectionAction.partial' }}</reusecomponent></div>
                        <div class="clearfix"></div>
                        <div>
                            <reusecomponent class="c69153">{{> productDetail id='quantityWisePrice.partial' }}</reusecomponent>
                            <div
                            class="product-section-box det-pop">
                                <div class="short-description2">
                                        <reusecomponent class="c9910">{{> productDetail id='productDetailAction.partial' }}</reusecomponent>
                                </div>
                            </div>
                        </div>
                        <div class="product-section-box overview">
                            <div id="product_detail_product-description-tab" role="tablist" aria-multiselectable="true"
                            class="panel-group">
                                <div role="tab" class="panel-heading open">
                                    <h2 class="heading-block over">Overview</h2>
                                </div>
                                <div id="product_detail_product-description-tab-block" role="tabpanel"
                                class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="inner-tab-content">
                                            <ul class="info">
                                                <p class="js-product_description_text">Overview</p>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="specifiction">
                                    <h2 class="heading-block">Product Specifications</h2>
                                    <ul class="spec js-specification"></ul>
                                </div>
                                <div class="prod-shipp js-product-shipping-text">
                                    <h2 class="heading-block"> Production and shipping</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-section-box decoration-option">
                            <div class="panel-group">
                                <div role="tab" class="panel-heading open">
                                    <h2 class="heading-block over">Decoration Options <a href="#" data-toggle="modal" data-target="#prop-charges" class="myButton setup prop">Prop 65 warning</a> <a href="#" data-toggle="modal" data-target="#setup" class="myButton setup">Setup Charges</a></h2>
                                </div>
                                <div role="tabpanel" id="ivmhc" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="inner-tab-content js-decoration_option">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row js-recent-recommended-products" style="display: block">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <reusecomponent class="c25962">{{> productDetail id='recommendedProducts.partial' }}</reusecomponent>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <reusecomponent class="c25962">{{> productDetail id='recentViewedProducts.partial' }}</reusecomponent>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://res.cloudinary.com/flowz/raw/upload/v1519215927/websites/js/jquery.zoom.js"
        defer="defer"></script>
        <script type="text/javascript" src="https://res.cloudinary.com/flowz/raw/upload/v1519215927/websites/js/jquery.elevatezoom.js"
        defer="defer"></script>
        <script type="text/javascript" src="./assets/client-plugins/client-detail-page.js"
        defer="defer"></script>