<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

:root {
    margin-top: 0px;
}

:root {
    margin-top: 0px;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-am-file-uploader > form {
    min-height: 325px !important;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.fdb-block {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}
.fdb-box.fdb-touch input[type="text"] {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: .5rem .75rem;
}
.signup-section {
    width: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

</style>
<div class="container">
    <div class="innerpage register-page">
        <!--BREADCRUMB-->
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right fa-fw"></i>
                </li>
                <li>
                    <strong>Register Account</strong>
                </li>
            </ul>
        </div>
        <!--END BREADCRUMB-->
        <h1 class="main-title">
            <i class="fa fa-user"></i> Register account
        </h1>
        <div class="row js-register-account">
            <form name="signUp" id="signUp">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                    <!--                    <h1 class="main-title"><i class="fa fa-user"></i>Create an account</h1>     -->
                    <div class="ob-login-block">
                        <div class="sub-form-box">
                            <!--                            <p>Join our inner circle to receive sale previews, share your wishlist, track your orders, attend exclusive events and so much more...</p>-->
                            <div class="rightloginBlock">
                                <h1>Sign Up today and receive valuable benefits and information from Posh Xessories </h1>
                                <!--                                <h2>Benefits include:</h2>-->
                                <ul>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Sample Request
                                    </li>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Save Art
                                    </li>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Wish List
                                    </li>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Sample Requests - Tracking
                                    </li>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Upload Purchase Orders | PO Art Files
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Create & Save Distributor & Client Friendly Flyers and Catalogs
                                    </li>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Exclusive Deals & Unlimited Time Offers
                                    </li>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>Order Status
                                    </li>
                                    <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>And more
                                    </li>
                                </ul>
                                <!--                              <a class="send-email" href="register.php">Register</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <div class="ob-membership-info">
                        <div class="sub-form-box">
                            <h2>Membership Information</h2>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                    <div class="form-group">
                                        <label>ASI#</label>
                                        <input type="text" name="ASI" data-original-title="asi" tabindex="1" class="input">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                    <div class="form-group">
                                        <label>DISTRIBUTOR CENTRAL#</label>
                                        <input type="text" name="DistributorCentral" data-original-title="upic" tabindex="1" class="input">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                    <div class="form-group">
                                        <label>PPAI#</label>
                                        <input type="text" name="PPAI" data-original-title="ppai" tabindex="1" class="input">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                    <div class="form-group">
                                        <label>SAGE#</label>
                                        <input type="text" name="SAGE" data-original-title="sage" tabindex="1" class="input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--Block1 -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                    <div class="ob-contact-user">
                        <div class="sub-form-box">
                            <h2>Company Information</h2>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group tab-marging">
                                        <label>Company Name </label>
                                        <input type="text" name="companyName" class="input" tabindex="17" data-original-title="Company Number">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group tab-marging">
                                        <label>Phone</label>
                                        <input type="text" name="Phone" class="input" tabindex="17" data-original-title="Website">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group tab-marging">
                                        <label>Fax</label>
                                        <input type="text" name="Fax" class="input" tabindex="17" data-original-title="Website">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group tab-marging">
                                        <label>Website</label>
                                        <input type="text" name="Website" class="input" tabindex="17" data-original-title="Website">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                            <div class="ob-personal-info-block"><div class="sub-form-box"><h2>Personal Information</h2><div class="row"><div class="col-sm-6 col-xs-12"><div class="form-group"><label>Company Name</label><input type="text" name="text"  data-original-title="Company Name" tabindex="4" class="input"></div></div></div></div></div>-->
                    <div class="ob-personal-info-block">
                        <div class="sub-form-box">
                            <h2>Login Information</h2>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Email Address (ex. abc123@yahoo.com)<span class="red">*</span></label>
                                        <input type="text" name="userEmail" data-original-title="Email Address" tabindex="5" class="input userEmail">
                                        <!-- <ul class="error-message"><li>Enter Valid Email ID!</li></ul> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Password<span class="red">*</span></label>
                                        <input type="password" name="password" data-original-title="Password" tabindex="6" class="input password">
                                        <!-- <ul class="error-message"><li>Enter Valid Password!</li></ul> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Confirm Password<span class="red">*</span></label>
                                        <input type="password" name="confirmPassword" data-original-title="Confirm Password" tabindex="7" class="input">
                                        <!-- <ul class="error-message"><li>Enter Valid Confirm Password!</li></ul> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group inp-parts">
                                        <label>Security Question
                                        <span class="red">*</span></label>
                                        <select class="custom-select" tabindex="1" id="SecurityQuestion" name="SecurityQuestion">
                                            <option value="" selected="selected">Pick a security question</option>
                                            <option value="What city were you born in?" selected="">What city were you born in?</option>
                                            <option value="Where is your favorite place to vacation?" selected="">Where is your favorite place to vacation?</option>
                                            <option value="What was the first company that you worked for?" selected="">What was the first company that you worked for?</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Security Answer<span class="red">*</span></label>
                                        <input type="text" name="securityAnswer" data-original-title="securityAnswer" tabindex="7" class="input">
                                        <!-- <ul class="error-message"><li>Enter Valid Answer!</li></ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                    <div class="ob-contact-info-block">
                        <div class="sub-form-box">
                            <h2>Contact Information</h2>
                            <div class="row js-contactinfo-top">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>First Name<span class="red">*</span></label>
                                        <input type="text" name="firstName" data-original-title="First Name" tabindex="1" class="input firstName">
                                        <!-- <ul class="error-message"><li>Enter Valid First Name!</li></ul> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Last Name<span class="red">*</span></label>
                                        <input type="text" name="lastName" data-original-title="Last Name" tabindex="3" class="input lastName">
                                        <!-- <ul class="error-messag e"><li>Enter Valid Last Name!</li></ul> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row js-contactinfo-bottom">
                                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Address 1<span class="red">*</span></label>
                                        <input type="text" name="address1" data-original-title="Address 1" tabindex="8" class="input">
                                        <!-- <ul class="error-message"><li>Enter Valid Address 1!</li></ul> -->
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input type="text" name="address2" data-original-title="Address 2" tabindex="9" class="input">
                                        <!-- <ul class="error-message"><li>Enter Valid Address 2!</li></ul> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group inp-parts">
                                        <label class="checkout-label">Country<span class="red">*</span>
                                        </label>
                                        <select class="custom-select js-country" tabindex="1" id="signup_country" name="country">
                                            <option value="" selected="selected">Select Country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group inp-parts">
                                        <label class="checkout-label">State/Province<span class="red">*</span>
                                        </label>
                                        <select class="custom-select js-state" tabindex="1" id="signup_state" name="state">
                                            <option value="" selected="selected">Select State</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group inp-parts">
                                        <label class="checkout-label">City<span class="red">*</span>
                                        </label>
                                        <select class="custom-select js-city" tabindex="1" id="signup_city" name="city">
                                            <option value="" selected="selected">Select city</option>
                                        </select>
                                    </div>
                                </div>
    
                                <div class="col-sm-6 col-xs-12" style="height: 81px;">
                                    <div class="form-group">
                                        <label>Zip code<span class="red">*</span></label>
                                        <input type="text" name="zipCode" data-original-title="Zip code" tabindex="13" class="input">
                                        <!-- <ul class="error-message"><li>Enter Valid Zip Code!</li></ul> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Phone<span class="red">*</span></label>
                                        <input type="text" name="phone" data-original-title="Phone" tabindex="14" class="input js-phone">
                                        <!-- <ul class="error-message"><li>Enter Valid Phone!</li></ul> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input type="text" name="fax" data-original-title="Fax" tabindex="15" class="input">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Email Address (ex. abc123@yahoo.com)<span class="red">*</span></label>
                                        <input type="text" name="email" data-original-title="Email Address" tabindex="5" class="input">
                                        <!-- <ul class="error-message"><li>Enter Valid Email ID!</li></ul> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="check-box-privacy">
                                        <div class="checkbox check-block">
                                            <input type="checkbox" id="checkbox-bill" tabindex="16">
                                            <label for="checkbox-bill">
				                            Use as my default billing address
				                        </label>
                                        </div>
                                    </div>
                                    <div class="check-box-privacy">
                                        <div class="checkbox check-block">
                                            <input type="checkbox" id="checkbox-address" tabindex="16">
                                            <label for="checkbox-address">
                                            Use as my default shipping address
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <!--                            <div class="col-sm-6 col-xs-12"><div class="check-box-privacy"><div class="checkbox check-block"><input type="checkbox" id="checkbox-address" tabindex="16"><label for="checkbox-address">
				                            Use as my default shipping address
				                        </label></div></div></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="ob-contact-info-block">
                        <div class="sub-form-box">
                            <div class="check-box-privacy">
                                <div class="checkbox check-block">
                                    <input type="checkbox" id="checkbox-mailing">
                                    <label for="checkbox-mailing">
	                            Yes, I would like to join the mailing list for the least product releases, promotion and industry news.
	                        </label>
                                </div>
                            </div>
                            <div class="btn-box-main ob-btn-reg-block">
                                <input type="submit" tabindex="17" value="Submit" class="btn btn-default signupPosh-click">
                                <input type="reset" tabindex="17" value="Cancel" class="btn btn-default signUp-cancel">
                            </div>
                        </div>
                    </div>
                    <span class="required-field">* Required Fields</span>
                </div>
                <div class="clearfix"></div>
                <!-- SUBMIT FORM -->
            </form>
        </div>
    </div>
</div>
<script src="./assets/client-plugins/client-signup-page.js" defer="defer"></script>
